# Configurações do Servidor
PORT=5000

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=suasenha
DB_NAME=filmes_stream

# Autenticação JWT
JWT_SECRET=super_secret_jwt_key_filmes_stream
